<div class="jumbotron bg-white mt-5">
	<div class="row">
 		<div class="text-secondary col mr-0 pr-0 pl-4" *ngFor="let step of steps; let i = index">
 			<p>{{ msg.registrePlaceMessages.stape }}</p>
 			<h1
 				[class.text-black]="isStatusActiv(step.status)"
 				[class.text-success]="isStatusPased(step.status)"
 				class="mb-0"
 			>{{ step.index }}</h1>
 			<div class="pl-1">
 				<img [src]="(isStatusActiv(step.status) || isStatusPased(step.status))
 					? stepRoundActiv
 					: stepRoundInactiv">
 				<img *ngIf="i < 6" [src]="shapePath"   class="pl-1">
 			</div>
 		</div>
	</div>
</div>
<div class="jumbotron bg-white text-secondary">
	<div class="container" [ngSwitch]="activStep">
		<div *ngSwitchCase="1" >
			<app-location-info 
				[place]="place" 
				(goNext)="statePased($event)">
			</app-location-info>
		</div>
		<div *ngSwitchCase="2">
			<app-working-hours
				[place]="place" 
				(goBack)="stateInactiv($event)" 
				(goNext)="statePased($event)">
			</app-working-hours>
		</div>
		<div *ngSwitchCase="3" >
			<app-contact-data
				[place]="place" 
				(goNext)="statePased($event)">
			</app-contact-data>
		</div>
		<div *ngSwitchCase="4">
			<app-photos
				[place]="place" 
				(goBack)="stateInactiv($event)" 
				(goNext)="statePased($event)">
			</app-photos>
		</div>
		<div *ngSwitchCase="5" >
			<app-filters [place]="place"
				(goBack)="stateInactiv($event)" 
				(goNext)="statePased($event)">
			</app-filters>
		</div>
		<div *ngSwitchDefault>
			<app-location-info
				[place]="place" 
				(goNext)="statePased($event)">
			</app-location-info>
		</div>
	</div>
</div>