<div class="row">
	<div class="col-md-12">
		<h5 class="font-weight-bold text-black">
			<img class="d-inline-block pb-1 pl-0 mr-2 h-18-px w-4-px" [src]="blockTitleImd">
			{{ msgs.registrePlaceMessages.workingHoursMessages.name }}
		</h5>
		<form novalidate class="row">
			<div class="col-md-6 pt-4">
				<div class="row">
					<div class="col-md-4"></div>
					<p class="col-md-3">
						{{ msgs.registrePlaceMessages.workingHoursMessages.fromH }}	
					</p>
					<div class="col-md-2"></div>
					<p class="col-md-3 form-group pl-0 mb-0">
						{{ msgs.registrePlaceMessages.workingHoursMessages.toH }}
					</p>
				</div>
			</div>
			<div class="col-md-12 pb-5"
				*ngFor="let day of msgs.registrePlaceMessages.workingHoursMessages.days">
				<app-working-day
					[day]="day"
					[days]="place.workingHours.days"
					[parentSubject]="parentSubject"
					(changed)="onDataChanged($event)">
				</app-working-day>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div  class="col mx-3"></div>
					<button type="button" class="col btn btn-lg btn-block btn-custom btn-gray mt-0 mx-3"
						(click)="onGoBack()"
					>{{ msgs.registrePlaceMessages.bootonMessages.back }}</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<button type="button" class="col btn btn-lg btn-block btn-custom mx-3"
						(click)="onCancel()"
					>{{ msgs.registrePlaceMessages.bootonMessages.cancel }}</button>
					<button type="button" class="col btn btn-lg btn-block btn-success mt-0 mx-3"
						(click)="onSubmit()"
					>{{ msgs.registrePlaceMessages.bootonMessages.next }}</button>
				</div>
			</div>
		</form>
	</div>
</div>
