<div class="row">
	<div class="col-md-12">
		<h5 class="font-weight-bold text-black" appCustomDropdown>
			<img class="d-inline-block pb-1 pl-0 mr-2 h-18-px w-4-px" [src]="blockTitleImd">
			{{ msgs.registrePlaceMessages.filtersMessages.name }}
		</h5>
		<form novalidate [formGroup]="filtersForm"  class="row">
			<div class="col-md-12">
				<h6 class="pt-3 pb-1">
					{{ msgs.registrePlaceMessages.filtersMessages.message | uppercase }}
				</h6>
				<div class="form-group pt-2" (mouseleave)="closes('cusines')">
					<label class="center-block">{{ msgs.registrePlaceMessages.filtersMessages.specifyLocationCuisine }}</label>
					<div class="form-control error-block"
					     *ngIf="cusines.errors && (cusines.dirty || cusines.touched || isSubmited)">
					  <div *ngIf="cusines.errors.required || cusines.errors.emptyError">
					  	{{ msgs.registrePlaceMessages.filtersMessages.requedFieldError }}
					  </div>
					</div>
					<div class="row border border-secondary rounded ml-0">
						<div class="col-md-12 p-1">
							<div class="row">
								<div class="col-md-11">
									<div 
										class="d-inline-block p-1"
										*ngFor="let selectedItem of cusines.value">
										<div
											class="border border-secondary rounded bg-gray px-2 py-1 d-inline-block"
											>{{ selectedItem }}
											<span 
												aria-hidden="true" 
												class="pl-1 hover-cp"
												(click)="addRemoveItem(selectedItem, 'cusines')"
												>&times;
											</span>
										</div>
									</div>
								</div>
								<div 
									class="col-sm-1 text-right d-inline-block pr-4 hover-cp"
									(click)="setShow('cusines')"
								>
									<img 
										class="d-inline-block" 
										[src]="selectIconImg" 
										alt="...">
								</div>
							</div>
						</div>
						<div 
							class="col-md-12 px-0"
							*ngIf="show('cusines')">
							<div *ngFor="let cusine of  msgs.registrePlaceMessages.filtersMessages.cuisineTypes">
								<label 
									class="center-block bg-onHover d-block my-0 py-2 pl-4"
									[class.bg-selected]="isSelected(cusine, 'cusines')"
									(click)="addRemoveItem(cusine, 'cusines')"
									>{{ cusine }}
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group pt-2" (mouseleave)="closes('localType')">
					<label class="center-block">{{ msgs.registrePlaceMessages.filtersMessages.specifyLocalType }}</label>
					<div class="form-control error-block"
					     *ngIf="localType.errors && (localType.dirty || localType.touched || isSubmited)">
					  <div *ngIf="localType.errors.required || localType.errors.emptyError">
					  	{{ msgs.registrePlaceMessages.filtersMessages.requedFieldError }}
					  </div>
					</div>
					<div class="row border border-secondary rounded ml-0">
						<div class="col-md-12 p-1">
							<div class="row">
								<div class="col-md-11">
									<div 
										class="d-inline-block p-1"
										*ngFor="let selectedItem of localType.value">
										<div
											class="border border-secondary rounded bg-gray px-2 py-1 d-inline-block"
											>{{ selectedItem }}
											<span 
												aria-hidden="true" 
												class="pl-1 hover-cp"
												(click)="addRemoveItem(selectedItem, 'localType')"
												>&times;
											</span>
										</div>
									</div>
								</div>
								<div 
									class="col-sm-1 text-right d-inline-block pr-4 hover-cp"
									(click)="setShow('localType')"
								>
									<img 
										class="d-inline-block" 
										[src]="selectIconImg" 
										alt="...">
								</div>
							</div>
						</div>
						<div 
							class="col-md-12 px-0"
							*ngIf="show('localType')">
							<div *ngFor="let localTypeItem of  msgs.registrePlaceMessages.filtersMessages.localTypes">
								<label 
									class="center-block bg-onHover d-block my-0 py-2 pl-4"
									[class.bg-selected]="isSelected(localTypeItem, 'localType')"
									(click)="addRemoveItem(localTypeItem, 'localType')"
									>{{ localTypeItem }}
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group pt-2" (mouseleave)="closes('tableType')">
					<label class="center-block">{{ msgs.registrePlaceMessages.filtersMessages.specifyTablesTypes }}</label>
					<div class="form-control error-block"
					     *ngIf="tableType.errors && (tableType.dirty || tableType.touched || isSubmited)">
					  <div *ngIf="tableType.errors.required || tableType.errors.emptyError">
					  	{{ msgs.registrePlaceMessages.filtersMessages.requedFieldError }}
					  </div>
					</div>
					<div class="row border border-secondary rounded ml-0"
						>
						<div class="col-md-12 p-1">
							<div class="row">
								<div class="col-md-11">
									<div 
										class="d-inline-block p-1"
										*ngFor="let selectedItem of tableType.value">
										<div
											class="border border-secondary rounded bg-gray px-2 py-1 d-inline-block"
											>{{ selectedItem }}
											<span 
												aria-hidden="true" 
												class="pl-1 hover-cp"
												(click)="addRemoveItem(selectedItem, 'tableType')"
												>&times;
											</span>
										</div>
									</div>
								</div>
								<div 
									class="col-sm-1 text-right d-inline-block pr-4 hover-cp"
									(click)="setShow('tableType')"
								>
									<img 
										class="d-inline-block" 
										[src]="selectIconImg" 
										alt="...">
								</div>
							</div>
						</div>
						<div 
							class="col-md-12 px-0"
							*ngIf="show('tableType')">
							<div *ngFor="let tableTypeItem of  msgs.registrePlaceMessages.filtersMessages.tablesTypes">
								<label 
									class="center-block bg-onHover d-block my-0 py-2 pl-4"
									[class.bg-selected]="isSelected(tableTypeItem, 'tableType')"
									(click)="addRemoveItem(tableTypeItem, 'tableType')"
									>{{ tableTypeItem }}
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group pt-2" (mouseleave)="closes('specialMenu')">
					<label class="center-block">{{ msgs.registrePlaceMessages.filtersMessages.specifySpecialMenu }}</label>
					<div class="form-control error-block"
					     *ngIf="specialMenu.errors && (specialMenu.dirty || specialMenu.touched || isSubmited)">
					  <div *ngIf="specialMenu.errors.required || specialMenu.errors.emptyError">
					  	{{ msgs.registrePlaceMessages.filtersMessages.requedFieldError }}
					  </div>
					</div>
					<div class="row border border-secondary rounded ml-0"
						>
						<div class="col-md-12 p-1">
							<div class="row">
								<div class="col-md-11">
									<div 
										class="d-inline-block p-1"
										*ngFor="let selectedItem of specialMenu.value">
										<div
											class="border border-secondary rounded bg-gray px-2 py-1 d-inline-block"
											>{{ selectedItem }}
											<span 
												aria-hidden="true" 
												class="pl-1 hover-cp"
												(click)="addRemoveItem(selectedItem, 'specialMenu')"
												>&times;
											</span>
										</div>
									</div>
								</div>
								<div 
									class="col-sm-1 text-right d-inline-block pr-4 hover-cp"
									(click)="setShow('specialMenu')"
								>
									<img 
										class="d-inline-block" 
										[src]="selectIconImg" 
										alt="...">
								</div>
							</div>
						</div>
						<div 
							class="col-md-12 px-0"
							*ngIf="show('specialMenu')">
							<div *ngFor="let specialMenuItem of  msgs.registrePlaceMessages.filtersMessages.specialMenuTypes">
								<label 
									class="center-block bg-onHover d-block my-0 py-2 pl-4"
									[class.bg-selected]="isSelected(specialMenuItem, 'specialMenu')"
									(click)="addRemoveItem(specialMenuItem, 'specialMenu')"
									>{{ specialMenuItem }}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row mt-5">
			<div class="col-md-6">
				<div class="row">
					<div  class="col mx-3"></div>
					<button type="button" class="col btn btn-lg btn-block btn-custom btn-gray mt-0 mx-3"
						(click)="onGoBack()"
					>{{ msgs.registrePlaceMessages.bootonMessages.back }}</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<button type="button" class="col btn btn-lg btn-block btn-custom mx-3"
						(click)="onCancel()"
					>{{ msgs.registrePlaceMessages.bootonMessages.cancel }}</button>
					<button type="button" class="col btn btn-lg btn-block btn-success mt-0 mx-3"
						(click)="onSubmit()"
					>{{ msgs.registrePlaceMessages.bootonMessages.next }}</button>
				</div>
			</div>
		</div>
	</div>
</div>